* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --Primary-color-black: #152427;
    --text-color-black-gray: #575d5e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}

/* Common */

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;

    display: inline-block;
    min-width: 173px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 40px;
    border: 1px solid #143c3c;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    font-family: "Public Sans", sans-serif;
    background: var(--primary-color, #143c3c);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* ================================= Header =================================*/
.header-fix {
    background-color: #fff;
    padding: 28px 0 14px 0;
    position: sticky;
    top: -16px;
    z-index: 1000;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__link {
    --text-color-black-gray: #575d5e;

    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
    text-decoration: none;
    padding: 10px 19px;
    position: relative;
}

.navbar__link:hover {
    color: #152427;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #143c3c;
    left: 19px;
    margin-top: 53px;
    visibility: hidden;
}
.navbar__item:hover .navbar__link--active::after {
    visibility: visible;
}

.navbar__list {
    display: flex;
    margin-right: 67px;
}

.header-top::after {
    content: "";
    display: block;
    position: absolute;
    top: 70px;
    height: 1px;
    width: 100%;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

/* ================================= HERO =================================*/
.hero {
    margin-top: 60px;
}

.hero__inner {
    display: flex;
}
.hero__content {
    flex-shrink: 0;
    max-width: 33%;
    margin-top: 103px;
    display: block;
}

.hero__media {
    margin-left: 89px;
    flex-grow: 1;
    display: flex;
    position: relative;
}

.hero__heading {
    color: var(--Primary-color-black, #152427);
    /* Heading/H2 50px Extra bold */
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color-black-gray, #575d5e);

    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 42px;
    min-width: 137%;
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.hero__cta-icon {
    display: flex;
    align-items: center;
}

.icon-right {
    position: relative;
    left: -22px;
}

.hero__cta-desc {
    position: relative;
    left: -7px;
    color: #152427;
    text-align: center;

    /* Paragraph/h3 18px bold */
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    position: relative;
}

.hero__images::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    flex-shrink: 0;
    filter: blur(137px);
}

.hero__img {
    width: 202px;
    height: 466px;
    flex-shrink: 0;
    border-radius: 110px;
    object-fit: cover;
    margin-right: 20px;
    z-index: 1;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__img:last-child {
    margin-right: 25px;
}

.extra-left {
    position: absolute;
    left: -218px;
    top: -29px;
    z-index: 1;
}

.extra-right {
    position: absolute;
    z-index: 1;
    bottom: -44px;
    right: 0;
}

.vector-left {
    position: absolute;
    left: -173px;
    z-index: 2;
    top: -33px;
}

.vector-right {
    position: absolute;
    bottom: -67px;
    right: 45px;
    z-index: 2;
}
